<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>我的第一个Web小项目</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <!--    <script type="text/javascript" src="../../libs/jquery/jquery-3.4.1.jquery"></script>-->
    <script type="text/javascript" src="jquery-3.4.1.js"></script>
</head>
<body>
<div id="app">
    <div>{{message}}</div>
    <!--    <input v-model="id" value="输入ID"><br>-->
    <!--    <input v-model="name" value="输入姓名"><br>-->
    <!--    <input type="file" id="image"><br>-->
    <button v-on:click="saveUserFn">保存用户信息</button>
    <button v-on:click="readUserFn">读取用户信息</button>
    <h5>请选择要上传的图片：</h5><br>
    <input type="file" id="upFile">
</div>
<script type="text/javascript" src="main.js"></script>
</body>
</html>